//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 16 15:25:14 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "LED<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw1" LOCATE = SITE "M18" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P15" LEVEL 1;
SCHEMATIC END;

