NET "clk50mhz" LOC = "E12" | IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator
NET "clk50mhz" PERIOD = 20.0ns HIGH 40%;
 
NET "salida<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "salida<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "reset0" LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "reset1" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN ;


