//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 16 17:10:49 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "memWriteSW5" LOCATE = SITE "K17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "VSync" LOCATE = SITE "A12" LEVEL 1;
COMP "SWAddress<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "SWAddress<1>" LOCATE = SITE "M16" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "SWAddress<2>" LOCATE = SITE "M18" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "memReadSW4" LOCATE = SITE "L17" LEVEL 1;
COMP "Blue<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "dataSWColor<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "dataSWColor<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "dataSWColor<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "dataSWColor<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "dataSWColor<4>" LOCATE = SITE "E18" LEVEL 1;
COMP "dataSWColor<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "dataSWColor<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "dataSWColor<7>" LOCATE = SITE "F17" LEVEL 1;
COMP "reset" LOCATE = SITE "K18" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "HSync" LOCATE = SITE "B12" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

