//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 13 00:25:23 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "red<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "red<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "VSync" LOCATE = SITE "A12" LEVEL 1;
COMP "green<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "green<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "green<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L17" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "HSync" LOCATE = SITE "B12" LEVEL 1;
COMP "red<0>" LOCATE = SITE "A9" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

